# Splunk HEC credentials
SPLUNK_HEC_TOKEN=splunk-hec-token-here

# Censys API credentials
CENSYS_API_ID=censys-api-id-here
CENSYS_API_SECRET=censys-api-secret-here

# NVD API key
NVD_API_KEY=nvd-api-key-here
